*.py[cod]

# C extensions
*.so

# Packages
*.egg-info
build/
dist/

# Unit test / coverage reports
.tox/
.coverage
__pycache__
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
.idea
