*.py[cod]
*.so
__pycache__/

# Packages
/gitfame/_dist_ver.py
/*.egg*/
/build/
/dist/
/git-fame_*_amd64.snap
/.dockerignore

# Unit test / coverage reports
/.tox/
/.coverage*
/coverage.xml
nosetests.xml
