*.py[cod]

# C extensions
*.so

# Packages
/gitfame/_dist_ver.py
/.eggs/
/*.egg-info
/build/
/dist/
/git-fame_*_amd64.snap
/.dockerignore

# Unit test / coverage reports
.tox/
.coverage
__pycache__/
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
.idea
