# Misc
include .coveragerc
include Makefile
include tox.ini
include git-fame_completion.bash

# Test suite
recursive-include gitfame/tests *.py

# Examples/Documentation
include README.rst
include git-fame.1
