# Misc
include .coveragerc
include Makefile
include tox.ini

# Test suite
recursive-include gitfame/tests *.py

# Examples/Documentation
include README.rst
include gitfame/git-fame.1
include git-fame_completion.bash